#main-holder {
	min-height: 80vh;
	min-width: 40vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
}

#login-form {
	padding: 5px 2px;
	min-width: 20vw;
	display: flex;
	flex-direction: column;
}

#login-form input {
	padding: 5px;
	margin: 5px;
	display: flex;
}

#main-holder h1 {
	padding: 5px;
	margin: 5px;
}

#sign-up-link {
	margin: 5px;
	font-size: 20px;
}

#login-form-submit,
#login-form-submit-demo {
	justify-content: center;
	font-family: "Ubuntu", sans-serif;
	font-size: 1em;
}

#login-heading {
	color: rgba(198, 46, 0, 0.8);
}
