.logout-input-button,
.navbar-home,
.hello-user-text {
	font-family: "Ubuntu", sans-serif;
	padding: 3px;
	margin: 3px;
}

.logout-input-button {
	background-color: rgb(206, 228, 255);
	color: grey;
	border: 1px solid rgb(235, 188, 34);
}
