.playlist {
	position: fixed;
	top: 5.5rem;
	left: 0;
	width: 20rem;
	bottom: 2.5rem;
	box-shadow: 2px 2px 50px gray;
	overflow: scroll;
	transform: translate(-100%);
	transition: all 0.5s ease;
	opacity: 0;
	background: white;
}

.playlist h2 {
	padding-top: 0.5rem;
	padding-left: 1rem;
}

.playlist-song {
	display: flex;
	align-items: center;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
}

.playlist-song img {
	width: 40%;
	border-radius: 50%;
}

.playlist-song:hover {
	background: rgb(202, 237, 219);
}

.song-info {
	padding: 1rem;
}

.song-info h3 {
	font-size: 1rem;
}
.song-info h4 {
	font-size: 0.75rem;
}

* {
	scrollbar-width: thin;
	scrollbar-color: red;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(103, 238, 168);
	border-radius: 20px;
	border: transparent;
}

.selected {
	background: rgb(42, 235, 136);
}

.active-playlist {
	transform: translateX(0%);
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.playlist {
		width: 100%;
	}
}
