.signup-container {
	min-height: 80vh;
	min-width: 40vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
}

#signup-form {
	padding: 5px 2px;
	min-width: 20vw;
	display: flex;
	flex-direction: column;
}

#signup-form input {
	padding: 5px;
	margin: 5px;
	display: flex;
}

.signup-container h1 {
	padding: 5px;
	margin: 5px;
}

#signup-form-submit {
	justify-content: center;
	font-family: "Ubuntu", sans-serif;
	font-size: 1em;
}

#signup-heading {
	color: rgba(198, 46, 0, 0.8);
}

#back-to-login {
	margin: auto;
	font-size: 20px;
}
