.signup-container {
	min-height: 80vh;
	min-width: 40vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
}

.signup-container ::after {
	background: url("./../images/cassette.jpg");
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	content: "";
	opacity: 0.6;
}

#signup-form {
	padding: 5px 2px;
	min-width: 20vw;
	display: flex;
	flex-direction: column;
}

#signup-form input {
	padding: 5px;
	margin: 5px;
	display: flex;
}

.signup-container h1 {
	padding: 5px;
	margin: 5px;
	font-family: "Kaushan Script", cursive;

}

#signup-form-submit {
	justify-content: center;
	font-family: "Kaushan Script", cursive;
	font-size: 1em;
	color: whitesmoke;
	outline: none;
	border: none;
	background-color: rgba(198, 46, 0, 0.8);
}

#signup-heading {
	color: rgba(198, 46, 0, 0.8);
}

#back-to-login {
	margin: auto;
	font-size: 20px;
	font-family: "Kaushan Script", cursive;

}
