* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
	color: rgb(104, 122, 223);
	font-family: "Ubuntu", sans-serif;
}

#playlist-status {
	transition: all 0.5s ease;
}

.playlist-active {
	margin: 0% 10%;
}
